body{
    background:white;
}

ul{
    list-style-type:none;
}

.mainContainer{
    width:60%;
    margin:auto;
}

.mySidebar{
    background:orange;
    padding:0;
    border-radius:15px;
}

.navbar-brand{
    padding:0;
    width:50px;
}

#brand{
    height:100%; 
}

.leftNavItem{
    text-align:center;
}

.leftNavItem h3{
    margin-top:0;
}